.wordlist{
    color: green;
    display: none;
}
.pg_show_wl{
    color: forestgreen;
    cursor: pointer;
}

#pagestat_div{
    float: right;
}

#pagestat_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 2%;
    width: 95%;
    height: 88%;

    overflow-y: scroll;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}
#pagestat_ok{
    float: right;
}
#pagestat_cancel{
    float: right;
}

#pagestat_edit{
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    height: 400px;
    display: none;
}

.pt_window{
    z-index: 50;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}

.pt_window select{
    border: 1px double #999;
}

.pt_window input[type="button"]{
    cursor: pointer;
    background-color: #e9e9e9;
    border: 1px double #999;
    font-size: 75%;
    margin: 1px 0.5em;
    padding: 0.1em 0.5em;
}

.pt_window input[name="search_bt"]{
    background-color: #ccc;
}
.pt_window input[name="parse_bt"]{
    background-color: #ccc;
}



.pt_window .ptclose{
    position: absolute;
    bottom: 1px;
    right: 1em;

}

.pt_clientwin{
    height: 95%;
    overflow-y: scroll;
    word-wrap: break-word;
}



.pt_clientwin .back_ns{
    background-image: url(ptback.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.pt_clientwin .show_booklist{
    cursor: pointer;
}
.pt_clientwin .match_show_dl{
    color: cadetblue;
    cursor: pointer;
}
.pt_clientwin .mt_more_words{
    display: none;
}

.pt_clientwin .sp_fold{
    background-image: url(fold.png);
    padding: 0 15px;
    background-repeat: no-repeat;
}

.pt_clientwin ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pt_clientwin li{
    display: block;
    float: left;
    margin: 0 1em 0 0;
}

#openpage_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 10%;
    width: 39%;
    height: 88%;


    display: none;
}

#openpage_txtout{
    overflow-y: scroll;
}

.xxpg{
    cursor:pointer;
    float: left;
    margin: 1px;
    border: 1px dashed #999;
}