.wordlist{
    color: green;
    display: none;
}
.pg_show_wl{
    color: forestgreen;
    cursor: pointer;
}

#pagestat_div{
    float: right;
}

#pagestat_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 2%;
    width: 95%;
    height: 88%;

    overflow-y: scroll;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}
#pagestat_ok{
    float: right;
}
#pagestat_cancel{
    float: right;
}

#pagestat_edit{
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    height: 400px;
    display: none;
}

.pt_window{
    z-index: 50;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}

.pt_window select{
    border: 1px double #999;
}

.pt_window input[type="button"]{
    cursor: pointer;
    background-color: #e9e9e9;
    border: 1px double #999;
    font-size: 75%;
    margin: 1px 0.5em;
    padding: 0.1em 0.5em;
}

.pt_window input[name="search_bt"]{
    background-color: #ccc;
}
.pt_window input[name="parse_bt"]{
    background-color: #ccc;
}



.pt_window .pt_button_r{
    float: right;
}

.pt_clientwin{
    height: 95%;
    overflow-y: scroll;
    word-wrap: break-word;
}



.pt_clientwin .back_ns{
    background-image: url(ptback.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.pt_clientwin .show_booklist{
    cursor: pointer;
}
.pt_clientwin .match_show_dl{
    color: cadetblue;
    cursor: pointer;
}
.pt_clientwin .mt_more_words{
    display: none;
}

.pt_clientwin .sp_fold{
    background-image: url(fold.png);
    padding: 0 0 0 22px;
    background-repeat: no-repeat;
}

.pt_clientwin ul.xxx{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pt_clientwin li.xxx{
    display: block;
    float: left;
    margin: 0 1em 0 0;
}

#openpage_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 10%;
    width: 39%;
    height: 88%;


    display: none;
}

#openpage_txtout{
    overflow-y: scroll;
}

.xxbk_base_title,
.xxpg{
    cursor:pointer;
    margin: 2px 10px;
    padding: 0px 5px;
    border: 1px outset #999;
    font-size: 0.85em;
}

div.xxpg{
    width: 80%;
    text-align: center;
}

div.xxbk_base_ct{

}


.pt_edit_static{
    overflow-y: scroll;
}
.pt_edit_area{

    border: solid 1px #999;
}

.pt_mul_edit{
    margin-top: 20px;
    width: 98%;
}

.pt_heightlight{
    border: 2px solid deepskyblue !important;
}

.xxbk_slice_words{
    color: #009900;
    cursor: pointer;
}

.wl_unm{
    color: green;
}
.wl_match{
    color: #999999;
}

.wordlist input{
    font-size: 75%;
}

.xxbk_sidebar{
    color: #0066aa;
    cursor: pointer;
}

.pt_wordcard_win li{
    float: none;
}
.desktop .wc_wordcard_wp{
    height: auto;
    width: 70%;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}
.mobile .wc_wordcard_wp{
    height: auto;
    width: auto;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mobile .wc_wordcard_wp ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.mobile .wc_wordcard_wp li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}



#dokuwiki__pagetools ul li .ptools_main,
#dokuwiki__pagetools ul li .ptools_edit{
    background-position: right 0;
}
#dokuwiki__pagetools ul li .ptools_main:before {
    content: url(pagetool2.png);
    margin-top: 0;
}
#dokuwiki__pagetools:hover ul li .ptools_main,
#dokuwiki__pagetools ul li .ptools_main:focus,
#dokuwiki__pagetools ul li .ptools_main:active {
    background-image: url(pagetool2.png);
}

#dokuwiki__pagetools ul li .ptools_edit:before {
    content: url(pagetool3.png);
    margin-top: 0;
}
#dokuwiki__pagetools:hover ul li .ptools_edit,
#dokuwiki__pagetools ul li .ptools_edit:focus,
#dokuwiki__pagetools ul li .ptools_edit:active {
    background-image: url(pagetool3.png);
}

#dokuwiki__pagetools ul li .ptools_main:hover,
#dokuwiki__pagetools ul li .ptools_main:active,
#dokuwiki__pagetools ul li .ptools_main:focus ,
#dokuwiki__pagetools ul li .ptools_edit:hover,
#dokuwiki__pagetools ul li .ptools_edit:active,
#dokuwiki__pagetools ul li .ptools_edit:focus {
    background-position: right -45px;
}



div.pt_pa_sub{
    position: fixed;
    display: none;
}

#feedback { font-size: 1.4em; }
div.pt_pa_sub .ui-selectable .ui-selecting { background: #FECA40; }
div.pt_pa_sub .ui-selectable .ui-selected { background: #F39814; color: white; }
div.pt_pa_sub .ui-selectable{ list-style-type: none; margin: 0; padding: 0; width: auto; }
div.pt_pa_sub .ui-selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }