.wordlist{
    color: #99792a;
}
#pagestat_div{
    float: right;
}

#pagestat_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 2%;
    width: 95%;
    height: 88%;

    overflow-y: scroll;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}
#pagestat_ok{
    float: right;
}
#pagestat_cancel{
    float: right;
}

#pagestat_edit{
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    height: 400px;
    display: none;
}

.pt_window{
    z-index: 50;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow:0px 0px 0.5em #999;
    border: 1px solid #eee;
    padding: 0.5em;
    display: none;
}

.pt_window select{
    border: 1px double #999;
}

.pt_window input[type="button"]{
    cursor: pointer;
    background-color: #e9e9e9;
    border: 1px double #999;
    font-size: 80%;
    margin: 1px 0.5em;
    padding: 0.1em 0.5em;
}

.pt_window .ptclose{
    position: absolute;
    bottom: 1px;
    right: 1em;

}

.pt_clientwin{
    height: 95%;
    overflow-y: scroll;
}



.pt_clientwin .back_ns{
    border: dashed 1px #99792a;
}
.pt_clientwin .show_booklist{
    cursor: pointer;
}

.pt_clientwin .bl_fold{
    border: dashed 1px #003399;
}
.pt_clientwin .sp_fold{
    background-image: url(fold.png);
    padding: 0 10px;
    background-repeat: no-repeat;
}

.pt_clientwin ul{
    list-style: none;
}

.pt_clientwin li{
    display: block;
    float: left;
    margin-right: 1em;
}

#openpage_rt{
    z-index: 100;
    position: fixed;
    top: 0.1em;
    left: 10%;
    width: 39%;
    height: 88%;


    display: none;
}

#openpage_txtout{
    overflow-y: scroll;
}

.xxpg{
    cursor:pointer;
    float: left;
    margin: 1px;
    border: 1px dashed #999;
}